html {
    font-size: 10px;
}

@font-face{
  font-family: 'Oswald';
  src: url('fonts/Oswald-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: hwb(84 63% 10%);
    margin: 0 auto;
    font-size: 2rem;
    font-family: 'Ubuntu';
}

.wrapper {
    width: 1200px;
    margin: auto;
    display: block;
}

/* header */

.header__container {
    height: 100px;
    background-color: rgba(51, 190, 125, 0.9);
    display: flex;
    align-items: center;
}

.logo {
    width: 25%;
    height: 100%;
    padding: 10px 10px 10px 40px;
}
.logo__image {
    background-image: url(img/logoItog.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
}

.humburger__menu {
    display: none;
}

.nav__list {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 0 20px 0 0;
}

.item__style {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: 'Oswald';
  font-weight: bold;
  cursor: pointer;
  color: rgb(72, 24, 184);
}

.nav-item a:hover {
    color: #E06733;
    font-weight: bold;
  }

  /* wellcome section */

  .wellcome__image {
    background-image: url(img/gomel-ptiz.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
  }

  .layout-3-column {
    display: flex;
    justify-content: center;
  }

  .welcome-column {
    width: 40rem;
    height: 30rem;
    padding: 10px 10px 10px 10px;
  }

  .welcome-title {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    line-height: 50px;
    text-align: center;
    background-image: linear-gradient(45deg, #2e0d86, #ee4b2b);;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .wellcome__image-out {
    background-image: url(img/gomel.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
  }

  /* advantage section */


  .advantage__container {
    padding: 10px 10px 10px 40px;
  }
  .advantage__title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 2.5rem;
    color: #717171;
    text-align: center;
    padding: 30px 0 40px 0;
  }

  .advantage__text {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
    line-height: 50px;
    color: #2ac025;
    text-align: center;
    padding: 20px 0 20px 0;
  }

  .advantage__paragraph {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
    line-height: 50px;
    color: #167213;
    text-align: center;
    padding: 10px 0 30px 0;
  }

  /* free section */

  .free__column {
    width: 40rem;
    height: 30rem;
    padding: 10px 10px 10px 10px;
  }

  .free__text {
    width: 40rem;
    height: 30rem;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .free__image {
    background-image: url(img/park\ paskev\ 5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 100%;
  }

  .layout-2-column {
    display: flex;
    justify-content: space-between;
  }

  .free__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 2.5rem;
    color: #717171;
  }

  .free__paragraph {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 50px;
    color: #2ac025;
  }

   /* make__foto section */
  .makeFoto__text {
    text-align: center;
    padding: 10px 0 30px 0;
  }

  .makeFoto__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 2.5rem;
    color: #717171;
  }

  .makeFoto__paragraph {
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 50px;
    color: #2ac025;
  }

 /* slider section */
  img {
    width: 350px;
    height: 500px;
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    display: flex;
    align-items: flex-start;
  }

  /* конкретный slider  */

  .slider {
    position: relative;
    padding: 0px 60px;
  }

  .slider .slick-arrow{
    position: absolute;
    top: 50%;
    /*если нужно поднять стрелку то можно задать margin-top с отриц числом, если выше, и полож если ниже*/
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
  }

  .slider .slick-arrow.slick-prev{
    left: 0;
    background: url('img/slider/left.png') 0 0 / 100% no-repeat;
    margin-left: 20px;
  }

  .slider .slick-arrow.slick-next{
    right: 0;
    background: url('img/slider/right.png') 0 0 / 100%  no-repeat;
    margin-right: 20px;
  }
  .slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
  }

  .slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: aqua;
    border-radius: 50%;
  }

  .slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
  }

  .slider__item {
  margin: 0 30px 0 30px 0;
  }

  .slick-slide  {
    padding: 0 40px;
  }

   /* layout__makeFoto */

   .layout__makeFoto {
    display: flex;
    padding: 20px 50px 20px 50px;
    justify-content: space-evenly;
   }

   .layout__column {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/fon1.jpg);
    background-size: cover;
    padding: 0 20px 0 20px;
    border: 6px solid transparent;
    border-image: linear-gradient(to left top,#adf2f7 10%,  transparent 30%, transparent 70%, #adf2f7 90%);
    border-image-slice: 1;
   }

   .layout__icon {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    line-height: 50px;
    text-shadow: 10px 5px 5px rgb(68, 49, 49);
    background-image: linear-gradient(45deg, #2e0d86, #ee4b2b);;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
   }

   .icon-foto1 {
    background: url('img/icon-love.png') 0 0 no-repeat;
    background-size:contain;
   display: block;
   width: 50px;
   height: 50px;
   text-align: center;
   }

   .icon-foto2 {
    background: url('img/icon-popul.png') 0 0 no-repeat;
    background-size:contain;
   display: block;
   width: 50px;
   height: 50px;
   }

   .icon-foto3 {
    background: url('img/icon-star.png') 0 0 no-repeat;
    background-size:contain;
   display: block;
   width: 50px;
   height: 50px;
   }

   .icon-foto4 {
    background: url('img/icon-wow.png') 0 0 no-repeat;
    background-size:contain;
   display: block;
   width: 50px;
   height: 50px;
   }

  /* about section */
   .about__title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 50px;
    text-align: center;
    color: #057534;
    padding: 20px 0 0 0;
   }

   .block__column {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   }

   .block__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 50px;
    text-align: left;
    padding: 50px 10px 50px 50px;
   }

   .block__paragraph {
    width: 300px;
    font-family: Ubuntu;
    font-style: italic;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 50px;
    text-align: center;
    color: #2e0d86;
    text-shadow: 10px 5px 5px rgb(68, 49, 49);
   }

   .other {
    color: #0b9147;
   }
   
   .about-flameX {
    width: 500px;
    height: 350px;
   }

   .about-flameY {
    width: 300px;
    height: 405px;
   }

   .about-Foto1 {
    background: url('img/fest1-about.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    border: 6px solid #5815c4;
    border-radius: 40px;
   }

   .about-Foto2 {
    background: url('img/fest2-about.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    border: 6px solid #5815c4;
    border-radius: 40px;
   }

   .about-Foto3 {
    background: url('img/fest3-about.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    border: 6px solid #5815c4;
    border-radius: 40px;
   }

/* about button section */
   .about__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   .button-location  {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2px;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
  .button-location:hover, .button-location:focus {
    color: #fff;
    outline: 0;
  }

  .first {
    border-color: #165e34;
    color: #fff;
    box-shadow: 0 0 40px 40px #165e34 inset, 0 0 0 0 #165e34;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 10px 0 #165e34 inset, 0 0 10px 4px #165e34;
    color: black;
  }

  .about-belov1 {
    background: url('img/belovt1-about.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    border: 6px solid #5815c4;
    border-radius: 40px;
  }

  .about-belov2{
    background: url('img/belovt2-about.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    border: 6px solid #5815c4;
    border-radius: 40px;
  }

  .about-belov3{
    background: url('img/belovt3-about.jpg') 0 0 no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    border: 6px solid #5815c4;
    border-radius: 40px;
  }

  .second {
    border-color: #340670;
    color: #fff;
    box-shadow: 0 0 40px 40px #340670 inset, 0 0 0 0 #340670;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .second:hover {
    box-shadow: 0 0 10px 0 #165e34 inset, 0 0 10px 4px #340670;
    color: black;
  }